@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
*{
    font-family: "Pixelify Sans", sans-serif;
}
.head{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

}
button{
    color: white;
}
.main{
     text-align: center;
     padding-top: 15px;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 100px 50px;
}
.container input{
    width: 100px;
    height: 30px;
    border: solid 2px white;
    background-color: black;
    margin: 30px 80px;
}
.again{
    border: solid 2px black;
    cursor: pointer;
    background-color: white;
    color: black;
    width: 70px;
    height: 30px;
    text-align: center;
    margin-top: 10px;
}
.icon{
    display: flex;
    align-items: center;
}
.line{
    width: 100%;
    height: 2px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.line a{
    color: black;
    border: solid 2px black;
    background-color: white;
    width: 30px;
    height: 30px;
    text-align: center;
}
.check{
    display: flex;
    flex-direction: column;
}
